form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    background-color: #98FB98; /* PaleGreen color */
    border: 5px solid #008000; /* Green color */
    padding: 20px;
    border-radius: 15px;
  }
  
  input, select, textarea {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  button {
    width: fit-content;
    padding: 5px 10px;
  }
  
  label {
    display: block;
  }